<!-------------------------------HEADER----------------------->
<div class="jumbotron bg-cover text-white header">
  <div class="container py-5 text-center">
      <h1 class="display-4 font-weight-bold">Rick and Morthy characters</h1>
      <p class="font-italic mb-0">DataWare challenge by Francisco Javier Romero Vargas</p>
  </div>
</div>

<!------------------------------CONTENT-------------------------------->
<div class="container">
  <!---------------------If not character clicked--------------------->
  <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5" *ngIf="!requestedCharDetails; else detailsBlock">
    <div class="col d-flex justify-content-center" *ngFor = "let character of characters.results">
      <app-character class="d-flex" [character] = "character" (charId)="getCharById($event)"></app-character>
    </div>
    
    <nav aria-label="Page navigation example" class="w-100">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button class="page-link" [ngClass]="characters.info.prev == null ? 'disabled' : ''" (click)="showCharPage(firstUrl)">
            First
          </button>
        </li>
        <li class="page-item" [ngClass]="characters.info.prev == null ? 'disabled' : ''">
          <button class="page-link" (click)="showCharPage(characters.info.prev)">
            Previous
          </button>
        </li>
        <li class="page-item" [ngClass]="actualPage-3 <= 0 ? 'invisible' : ''">
          <button class="page-link" (click)="showCharPage(mainUrl + 'character/?page=' + (actualPage - 3))">
            {{actualPage - 3}}
          </button>
        </li>
        <li class="page-item" [ngClass]="actualPage-2 <= 0 ? 'invisible' : ''">
          <button class="page-link" (click)="showCharPage(mainUrl + 'character/?page=' + (actualPage - 2))">
            {{actualPage - 2}}
          </button>
        </li>
        <li class="page-item" [ngClass]="actualPage-1 <= 0 ? 'invisible' : ''">
          <button class="page-link" (click)="showCharPage(mainUrl + 'character/?page=' + (actualPage - 1))">
            {{actualPage - 1}}
          </button>
        </li>
        <li class="page-item active">
          <button class="page-link">
            {{actualPage}}
          </button>
        </li>
        <li class="page-item" [ngClass]="actualPage+1 >= characters.info.pages ? 'invisible' : ''">
          <button class="page-link" (click)="showCharPage(mainUrl + 'character/?page=' + (actualPage + 1))">
            {{actualPage + 1}}
          </button>
        </li>
        <li class="page-item"  [ngClass]="actualPage+2 >= characters.info.pages ? 'invisible' : ''">
          <button class="page-link" (click)="showCharPage(mainUrl + 'character/?page=' + (actualPage + 2))">
            {{actualPage + 2}}
          </button>
        </li>
        <li class="page-item"  [ngClass]="actualPage+3 >= characters.info.pages ? 'invisible' : ''">
          <button class="page-link" (click)="showCharPage(mainUrl + 'character/?page=' + (actualPage + 3))">
            {{actualPage + 3}}
          </button>
        </li>
        <li class="page-item" >
          <button class="page-link" [ngClass]="characters.info.next == null ? 'disabled' : ''" (click)="showCharPage(characters.info.next)">Next</button>
        </li>
        <li class="page-item" [ngClass]="characters.info.next == null ? 'disabled' : ''">
          <button class="page-link" (click)="showCharPage(lastUrl)">Last</button>
        </li>
      </ul>
    </nav>
  </div>

  <!---------------------If character clicked--------------------->
  <ng-template #detailsBlock>
    <app-details [character] = "characters" (reqCharDetails)="backDetails($event)"></app-details>
  </ng-template>

  <!--button (click)=consoleLog()>Console Log</button-->
</div>