<div class="container">
    <!---------------------If not character clicked--------------------->
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5" *ngIf="!requestedCharDetails; else detailsBlock">
      <div *ngFor = "let character of characters.results">
        <div class="col">
          <app-character [character] = "character" (charId)="getCharById($event)"></app-character>
        </div>
      </div>    
    </div>
  
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="characters.info.prev" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="characters.info.next">Next</a>
        </li>
      </ul>
    </nav>
    <!---------------------If character clicked--------------------->
    <ng-template #detailsBlock>
      <app-details [character] = "characters"></app-details>
    </ng-template>
      
    
      <button (click)="consoleLog()">Console Log</button>
    </div>