<div class="card bg-light" (click)="viewDetails(character.id)">
    <div class="card-header">
        <b>{{character.name}}</b>
    </div>
    <img [src]=character.image class="card-img-top" alt="Character image">
    <div class="card-body">
        <div class="circle" [ngClass]="
            character.status == 'Alive' ? 'circle-success': 
                character.status == 'Dead' ? 'circle-danger': 'circle-secondary'">
        </div>
        <label>{{character.status}}</label><br>
        <label for="">Specie:</label>
        <h6 class="card-subtitle">{{character.species}}</h6>
        <label for="">Last known location:</label>
        <h6 class="card-title">{{character.location.name}}</h6>
    </div>
    <div class="card-footer text-muted">
        <label>From:</label>
        <p>{{character.origin.name}}</p>
    </div>
</div>